@{
    ViewData["Title"] = "User Info";
}
<h1>User Info</h1>
<a href="/Home">Bright Ideas</a>  
<a href="/Logout">LogOUT</a>




    <p>Name: @ViewBag.user.firstname   @ViewBag.user.lastname  </p>
    <p>Alias:@ViewBag.user.alias</p>
    <p>Email: @ViewBag.user.email</p>
    <p>Total Number of Posts: @ViewBag.user.AllPosts.Count</p>
    <p>Total Number of Likes: @ViewBag.user.Creater.Count</p>
    <p>___________________________________________________________________________</p>
